* {
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

body {
    margin: 0;
    line-height: normal;
    text-shadow: 1.5px 0 0 #000, 0 1.5px 0 #000, -1.5px 0 0 #000, 0 -1.5px 0 #000;

    background-image: url({% static 'novella/images/bg/background\ \(12\).png' %});
    background-color: #000;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;

    font-family: Handjet;
    color: #fff;
    text-align: left;
    font-size: 34px;

    overflow: hidden;
}

#game_field {
    position: absolute;
    width: 100%;
    height: 100vh;

    z-index: -1000;

    cursor: pointer;

    // &.choice {
    //     cursor: default;
    // }
}


#mainCharacter {
    visibility: hidden;
}

.characters {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1002;
    width: 100%;
    display: flex;
    justify-content: space-around;

    .characters__img {
        filter: brightness(30%);
        transition: transform 0.2s linear, filter 0.2s linear;
        -webkit-transform-origin: bottom;
        transform: scale(1);

        &.first {
            margin-left: 10%;
            width: 40vh;
        }

        &.second {
            margin-right: 10%;
            width: 40vh;
        }

        &.active {
            filter: brightness(100%);
            transform: scale(1.1);
        }
    }

    &-img {


        &.active {
            filter: brightness(50%)
        }
    }
}

.ui {
    position: absolute;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;

    &__newGame {
        position: fixed;
        left: 20px;
        top: 20px;
        z-index: 999;

        display: flex;
        flex-direction: column;
        justify-content: center;
        
        padding: 5px 10px;
        border-radius: 0 20px 20px 0;
        background: linear-gradient(90deg, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.6) 43.93%);
        cursor: pointer;

        &:hover {
            background: linear-gradient(90deg, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.6) 43.93%) padding-box,
            linear-gradient(90deg, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.6)) border-box;
        }
    }

    &__exit {
        position: fixed;
        left: 20px;
        top: 60px;
        z-index: 999;

        display: flex;
        flex-direction: column;
        justify-content: center;
        
        padding: 5px 10px;
        border-radius: 0 20px 20px 0;
        background: linear-gradient(90deg, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.6) 43.93%);
        cursor: pointer;

        &:hover {
            background: linear-gradient(90deg, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.6) 43.93%) padding-box,
            linear-gradient(90deg, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.6)) border-box;
        }
    }

    &__choise {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 15px;
        z-index: -999;

        position: fixed;
        bottom: 35%;
        right: -700px;
        -webkit-transition: right 0.3s linear;
        -moz-transition: right 0.3s linear;
        transition: right 0.3s linear;
        z-index: 2000;

        &.active {
            right: 0;
        }

        &__elem {
            width: 702px;
            overflow: hidden;
            display: flex;
            flex-direction: row;
            align-items: flex-start;
            justify-content: flex-start;

            border-radius: 20px 0px 0px 20px;
            background: linear-gradient(90deg, rgba(0, 0, 0, 0.6) 43.93%, rgba(0, 0, 0, 0));
            padding: 10px 20px;
            border-width: 4px 0 4px 4px;
            border-style: solid;
            border-color: transparent;

            cursor: pointer;

            &_pointer {
                display: none;
            }

            &_text {
                position: relative;
                font-weight: 500;
            }

            &:hover {
                gap: 8px;
                background: linear-gradient(90deg, rgba(0, 0, 0, 0.6) 43.93%, rgba(0, 0, 0, 0)) padding-box,
                linear-gradient(90deg, rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0)) border-box;
            }
        }
    }

    &__text-field {
        align-self: stretch;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        font-size: 5vh;

        width: 100%;
        height: 30vh;
        position: fixed;
        bottom: 0;
        left: 0;
        z-index: 999;

        cursor: pointer;

        &__name {
            padding-left: 320px;
            z-index: 1;
            font-weight: 600;
        }

        &__container {
            align-self: stretch;
            border-radius: 25px 25px 0px 0px;
            background: linear-gradient(90deg, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.42) 34.79%, rgba(0, 0, 0, 0.42) 59.07%, rgba(0, 0, 0, 0));
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: flex-start;
            padding: 40px 274px;
            margin-top: -33px;
            z-index: 0;
        }

        &__text {
            width: 100%;
            display: inline-block;
            height: 220px;
        }
    }
}
