{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}Authentication | {{ block.super }}{% endblock title %}

{% block content %}
    <div class="container" style="max-width: 650px;">
        <h3 class="mt-5 text-center">Authentication</h3>
        <h5 class="mb-5 text-center">First time here? <a href="{% url 'registration' %}">Registration</a></h5>
        {% if messages %}
            {% for message in messages %}
                {{ message }}
            {% endfor %}
        {% endif %}

        <form method="post">
            {% csrf_token %}

            {{ form|crispy }}
            <button type="submit" class="btn btn-outline-primary">Sign in</button>
        </form>
    </div>
{% endblock content %}