{% load include_tags %}

{% if message.author == user %}
<li class="d-flex mb-4">
    <div class="card w-100">
      <div class="card-header d-flex justify-content-between p-3">
        <p class="fw-bold mb-0">@{{ message.author.username }}</p>
        <p class="text-muted small mb-0">{{ message.created_at|time:"H:i" }}</p>
      </div>
      <div class="card-body">
        <p class="mb-0">{{ message.body }}</p>
      </div>
    </div>
    <img src="{% get_avatar_or_default user_avatar=message.author.profiles.avatar %}" alt="avatar" class="rounded-circle d-flex align-self-start ms-3 shadow-1-strong" width="60">
</li>
<!-- <div class="d-flex flex-row justify-content-end">
    <div>
        <p class="small p-2 me-3 mb-1 text-white rounded-3 bg-primary">{{ message.body }}</p>
        <p class="small me-3 mb-3 rounded-3 text-muted d-flex justify-content-end">{{ message.created_at|time:"H:i" }}</p>
    </div>
    <img src="{% get_avatar_or_default user_avatar=message.author.profiles.avatar %}" alt="avatar 1" style="width: 45px; height: 100%;">
</div> -->
{% else %}
<li class="d-flex mb-4">
    <img src="{% get_avatar_or_default user_avatar=message.author.profiles.avatar %}" alt="avatar" class="rounded-circle d-flex align-self-start me-3 shadow-1-strong" width="60">
    <div class="card w-100">
      <div class="card-header d-flex justify-content-between p-3">
        <p class="fw-bold mb-0">@{{ message.author.username }}</p>
        <p class="text-muted small mb-0">{{ message.created_at|time:"H:i" }}</p>
      </div>
      <div class="card-body">
        <p class="mb-0">{{ message.body }}</p>
      </div>
    </div>
</li>
<!-- <div class="d-flex flex-row justify-content-start mb-4">
    <img src="{% get_avatar_or_default user_avatar=message.author.profiles.avatar %}" alt="avatar 1" style="width: 45px; height: 100%;">
    <div>
        <p class="text-body small p-2 ms-3 mb-1 rounded-3 bg-body-tertiary">{{ message.body }}</p>
        <p class="small ms-1 mb-0 text-muted">@mr-hui | {{ message.created_at|time:"H:i" }}</p>
    </div>
</div> -->
{% endif %}