{% load static %}
<div class="container">

    <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
        <a href="/" class="d-flex align-items-center col-md-3 mb-2 mb-md-0 text-dark text-decoration-none">
            <img src="https://www.reshot.com/preview-assets/icons/NDRTS3BYJG/web-development-NDRTS3BYJG.svg" alt="" width="24" height="24" class="d-inline-block align-text-top"> 
          <span class="ms-2 mb-0">Web labs | Zinkov Mikhail</span>
        </a>
        
        <div class="text-end">
            {% if request.user.is_authenticated %}
            <div class="d-flex align-items-center">
                <a href="{% url "user_profile" request.user.pk %}">
                    <h5 class="mb-0 me-4">{{ request.user.username }}</h5>
                </a>
                <form action="{% url 'logout' %}" method="post">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-outline-dark">Log out</button>
                </form>
            </div>
            {% else %}
            <a href="{% url 'login' %}" class="">
                <div class="btn btn-outline-primary me-2">Login</div>
            </a>
            {% endif %}
        </div>
      </header>
</div>
