{% load static %}
<header>
    <nav class="navbar navbar-light bg-light">
        <div class="container-fluid">
          <a class="navbar-brand" href="{% url 'main_menu' %}">
            <img src="https://www.reshot.com/preview-assets/icons/NDRTS3BYJG/web-development-NDRTS3BYJG.svg" alt="" width="24" height="24" class="d-inline-block align-text-top">
            Web labs | Zinkov Mikhail
          </a>

          
          <div class="d-none d-lg-flex align-items-end">
            <ul class="d-flex justify-content-end list-unstyled m-0">
                {% if not request.user.is_authenticated %}
                <li>
                    <a href="{% url 'login' %}" class="mx-3">
                        <iconify-icon icon="healthicons:person" class="fs-4"></iconify-icon>
                        login
                    </a>
                </li>
                {% else %}
                <li>
                    {{ request.user.username }}
                </li>
                <li>
                    <form action="{% url 'logout' %}" method="post">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-outline-secondary mr-2">Выйти</button>
                    </form>
                </li>
            </ul>
          </div>
          {% endif %}
        </div>
    </nav>
</header>
